/*
    <%= script.name %> (<%= script.project %>) @ v<%= script.version %>:<%= script.build %>

    By <%= script.author %> (<%= script.authorpage %>)
    License: <%= pkg.license %>

    Special Thanks to Lutra, Intel_iX, Lamperi, coyotte508 & Mystra
    Default styles & rank icons partially by Lutra, Intel_iX & person6445

    Tested on PO v2.1.0
*/

