/*      
    <%= pkg.script.name %> (<%= pkg.script.project %>) @ v<%= pkg.script.version %>
    
    By <%= pkg.script.author %> (<%= pkg.script.authorpage %>)
    License: <%= pkg.license %>
    
    Special Thanks to Lutra, Intel_iX, Lamperi, coyotte508 & Mystra
    Default styles & rank icons partially by Lutra, Intel_iX & person6445

    Tested on PO v2.1.0
*/

